# https://doc.traefik.io/traefik/reference/routing-configuration/kubernetes/gateway-api/
---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: traefik
spec:
  controllerName: traefik.io/gateway-controller