---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 15m # Drift detection interval
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: '38.0.2'
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 5h # Chart source interval
  releaseName: traefik
  # targetNamespace: traefik
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  test:
    enable: true
  driftDetection:
    mode: enabled
